.DS_Store
datasets
*.mp4
*.zip

models/pytorch-sepconv

models/OverfitTest_GAN_Discriminator

models/OverfitTest_GAN_Generator

models/OverfitTest_SGAN_Discriminator

models/OverfitTest_SGAN_Generator
